body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900; 
}
h2 {
    text-align: center;
}

.calc {
    height: 480px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(27, 17, 17);
    transform:translate(-50%, -100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.normal {
    width: 500px;
    padding:0px;
}

.pro {
    width: 590px;   
    padding:15px;
}

.display {
    width: 90%;
    background-color: white;
    margin: 16px;
    height: 70px;
    text-align: right;
    font-size: 59px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid red;
}

ul {
    padding: 0;
    margin: 0;
    
}

ul li {
    display: inline-block;
    height: 100%;
    list-style: none;
    background-color: rgb(187, 178, 58);
    padding: 10px;
    width: 70px;
    margin: 10px;
    font-size: 25px;
    border-radius: 10px;
    cursor:pointer;
}



/* ul li .normal:last-child { 
    width: 83%;
     
 } */

button {
    text-align: center;
    margin-left: -9px;
    background-color: rgb(187, 178, 58);
    font-size: 23px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}
.normal ul li:nth-child(17) { 
    width:60%;
     
 }



#downbox {
    height: 480px;
    width: 550px;
    padding:0px;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    background-color: rgb(27, 17, 17);
    transform:translate(-50%, 20%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;    
}